<h1>Todos</h1>
<logout></logout>

<a [routerLink]="['/create-todo']">Create Todo</a>

<table class="todos_table" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <th width="5%">ID</th>
        <th width="20%">Name</th>
        <th width="38%">Description</th>
        <th width="10%">Created On</th>
        <th>Action</th>
    </tr>
    <tbody *ngIf="todoList.length > 0">
        <tr *ngFor="let todo of todoList?.reverse(); let i = index" [ngClass]="{'done': todo.status === 'Done', 'not_done': todo.status == 'Not Done'}">
            <td>{{ i + 1 }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.createdOn | date:"MM-dd-yy HH:mm a" }}</td>
            <td>
                <button type="button" class="action_btn markdone_btn" *ngIf="todo.status == 'Not Done'" (click)="doChangeStatus('Done', todo.id)">Mark Done</button>
                <button type="button" class="action_btn marknotdone_btn" *ngIf="todo.status == 'Done'" (click)="doChangeStatus('Not Done', todo.id)">Mark Not Done</button>
                <a class="action_btn edit_btn" [routerLink]="['/edit-todo', {id: todo.id, title: todo.title, description: todo.description, status: todo.status}]">Edit</a>
                <button type="button" class="action_btn delete_btn" (click)="doDelete(todo.id)">Delete</button>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="todoLoading">
        <tr>
            <td colspan="5" class="text_center">
                <img src="assets/images/spinner.gif" />
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="todoList == '' && !todoLoading">
        <tr>
            <td colspan="5" class="text_center">No Data</td>
        </tr>
    </tbody>
</table>
