<div class="register">
    <h1>REGISTER</h1>
    <form (ngSubmit)="doRegister(email, registerForm)" #registerForm="ngForm">

        <label>Username</label>
        <input name="username" type="text" [(ngModel)]="registerData.userName" placeholder="Enter Username" #username="ngModel" minlength="4" required />
        <span class="error" *ngIf="username.invalid && username.touched">Username is mandatory and should be min 4 character</span>

        <label>Email<img src="assets/images/spinner.gif" style="width: 12px; display: inline-block; margin-left: 5px;" *ngIf="checkEmailExist.checkingEmailExist" /></label>
        <input name="email" type="email" [(ngModel)]="registerData.email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" (blur)="checkEmail(email)" required />
        <span class="error" *ngIf="email.invalid && email.touched">Email is mandatory and should be valid</span>
        <span class="error" *ngIf="checkEmailExist.emailExist && email.touched">Email ID already exist..!!</span>

        <label>Password</label>
        <input name="password" type="password" [(ngModel)]="registerData.password" placeholder="Enter Password" #password="ngModel" required />
        <span class="error" *ngIf="password.invalid && password.touched">Password is mandatory and should be min 4 character</span>

        <div class="buttons">
            <input type="submit" class="register" value="Register" [disabled]="registerForm.form.invalid || checkEmailExist.emailExist || checkEmailExist.checkingEmailExist" />
            <a [routerLink]="['/login']" class="auth-btn login">Login</a>
        </div>

    </form>
</div>
