div.login,
div.register {
    width: 400px;
    margin: 0 auto;
}
form label {
    display: block;
    margin-top: 10px
}
form input {
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input[type="button"],
.auth-btn{
    background:#1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-top: 0;
    text-align:center;
    color:white;
    padding:10px 30px;
    font-size:14px;
    outline: none;
    display: block;
    text-decoration: none;
}
input[type="button"]:hover,
.auth-btn:hover {
    opacity:0.8;
}
input[type="button"]:active,
.auth-btn:active {
    background:#18B495;
    border-bottom: #16a085 1px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    text-align:center;
    color:white;
    padding:10px 30px;
    margin-top:3px;
}
