.todos_table {
    border: solid 1px #f1f1f1;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;
}
.todos_table tr th{
    padding: 10px 15px;
    text-align: left;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    font-size: 12px;
}
.todos_table tr th:last-child {
    border-right: 0;
}
.todos_table tr td {
    padding: 10px 15px;
    text-align: left;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
.todos_table tr td:last-child {
    border-right: 0;
}
.todos_table tr:last-child td {
    border-bottom: 0;
}
.action_btn {
    border: 0;
    background-color: #ddd;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 12px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
.markdone_btn {
    background-color: #34c37b;
}
.marknotdone_btn {
    background-color: #4597d2;
}
.edit_btn {
    background-color: #d6b92c;
}
.delete_btn {
    background-color: #de6b28;
}
.todos_table tr:nth-child(odd) td {
    background-color: #f1f1f1;
}
.todos_table tr th {
    background-color: #e4e4e4;
}
.todos_table tr.done td {
    background-color: #e7ffe7;
}
.todos_table tr.not_done td {
    background-color: #ffe0e0;
}
.text_center {
    text-align: center !important;
}