<h1>Create Todo</h1>
<div class="todo-form">
    <form #createTodoForm="ngForm" (ngSubmit)="doCreateTodo(createTodoForm)">
        <label>Title</label>
        <br />
        <input type="text" placeholder="Enter Todo Title" name="title" [(ngModel)]="todoData.title" #title="ngModel" required />
        <br />
        <br />
        <label>Status</label>
        <br />
        <select name="status" [(ngModel)]="todoData.status" #status="ngModel" required>
            <option value="">Select Status</option>
            <option value="Done">Done</option>
            <option value="Not Done">Not Done</option>
        </select>
        <br />
        <br />
        <label>Description</label>
        <br />
        <textarea placeholder="Enter Todo Description" name="description" [(ngModel)]="todoData.description" #description="ngModel" required></textarea>
        <br />
        <br />
        <button type="submit" [disabled]="createTodoForm.form.invalid">Create</button>
        <a [routerLink]="['/todos']">Cancel</a>
    </form>
</div>
