<div class="login">
    <h1>SIGN IN</h1>

    <div *ngIf="loginSuccess">Login Success..!!</div>
    <div *ngIf="loginFailed">Login Failed..!!</div>

    <form #loginForm="ngForm" (ngSubmit)="doLogin(email, password, loginForm)">

        <label>Email</label>
        <input name="username" type="email" [(ngModel)]="loginData.email" placeholder="Enter email" #email="ngModel" required  />
        <span class="error" *ngIf="email.invalid && email.touched">Email is required</span>

        <label>Password</label>
        <input name="password" type="password" [(ngModel)]="loginData.password" placeholder="Enter password" #password="ngModel" required />
        <span class="error" *ngIf="password.invalid && password.touched">Password is required</span>

        <div class="buttons">
            <button type="submit" class="login" [disabled]="loginForm.form.invalid || loginChecking">Login <img src="assets/images/spinner.gif" style="width: 12px; display: inline-block; margin-left: 5px;" *ngIf="loginChecking" /></button>
            <a [routerLink]="['/register']" class="auth-btn register">Register</a>
        </div>

    </form>
</div>
