@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
html * {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
.error {
    font-size: 12px;
    color: red;
}
